/* RESET CSS */
:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,textarea
{ margin:0; padding:0; border:none; }
a img,:link img,:visited img { border:none }
address { font-style:normal }
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* GENERAL RULES */
:root {
    --bg1: #2e3440;
    --bg2: #3b4252;
    --bg3: #434c5e;
    --bg4: #4c566a;
    --fg1: #d8dee9;
    --fg2: #e5e9f0;
    --fg3: #eceff4;
    --green: #a3be8c;
}
body {
    background-color: var(--fg1);
    color: var(--bg1);
    font-family: 'Nunito', sans-serif;
}
h1 {
    font-family: 'Krona One', sans-serif;
}
h2 {
    font-family: 'Krona One', sans-serif;
    font-size: small;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
}

/* HEADER */
.header {
    background-color: var(--bg1);
    color: var(--fg1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    padding: 2em;
}

#sign-out {
    display: none;
}

/* GAME AREA */
.game-area {
    padding: 1.5em;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
}

/* FOOTER */
.footer {
    background-color: var(--fg2);
    color: var(--bg3);
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

/* LOGIN */
#login {
    width: 20%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}
#username, #password {
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--fg3);
    width: 100%;
    box-sizing: border-box;
}
#login button {
    float: right;
}

/* CONFIGURATION */
#config {
    display: none;
}

