/* RESET CSS */
:link, :visited {
    text-decoration: none
}

ul, ol {
    list-style: none
}

h1, h2, h3, h4, h5, h6, pre, code {
    font-size: 1em;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
}

a img, :link img, :visited img {
    border: none
}

address {
    font-style: normal
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/* GENERAL RULES */
:root {
    --bg1: #2e3440;
    --bg2: #3b4252;
    --bg3: #434c5e;
    --bg4: #4c566a;
    --fg1: #d8dee9;
    --fg2: #e5e9f0;
    --fg3: #eceff4;
    --green: #a3be8c;
}

body {
    background-color: var(--fg1);
    color: var(--bg1);
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Krona One', sans-serif;
}

h2 {
    font-family: 'Krona One', sans-serif;
    font-size: small;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

/* HEADER */
.header {
    background-color: var(--bg1);
    color: var(--fg1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    padding: 2em;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 1em;
}

.id {
    margin-left: auto;
    display: flex;
    vertical-align: center;
    justify-content: center;
    align-items: center;
}

#sign-out {
    display: none;
    margin-left: 1em;
}

/* GAME AREA */
.game-area {
    padding: 1.5em;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    display: flex;
}

/* TABLE */
#table {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 33em;
    height: 33em;
    padding: 2em;
    border-radius: 1em;
}


#table div {
    width: 33em;
    height: calc(4em + 2px);
}

#table div div {
    width: 4em;
    height: 4em;
    margin: 1px;
    background: var(--green);
    border-radius: 0.8em;
    float: left;
    display: flex;
    justify-content: center;
}

.whites {
    border-radius: 50% !important;
    background: var(--fg3) !important;
    font-size: 0.9em;
    align-self: center;
}

.blacks {
    border-radius: 50% !important;
    background: var(--bg1) !important;
    font-size: 0.9em;
    align-self: center;
}

.playable {
    background-image: linear-gradient(0deg, #a3be8c 25%, #2e3440 25%, #2e3440 50%, #a3be8c 50%, #a3be8c 75%, #2e3440 75%, #2e3440 100%) !important;
    background-size: 40.00px 40.00px !important;
}

.selectable {
    cursor: pointer;
}

/* FOOTER */
.footer {
    background-color: var(--fg2);
    color: var(--bg3);
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.footer h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

/* LOGIN */
#login {
    width: 20%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

#username, #password {
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--fg3);
    width: 100%;
    box-sizing: border-box;
}

#login button {
    float: right;
}

/* CONFIGURATION */
#config {
    display: none;
    width: 20%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#config select {
    margin-bottom: 1em;
}

#config button {
    float: bottom;
}
